/* Custom CSS */
body {
    background-color: #f8f9fa;
}

.glassmorphic-container {
    background: rgba(209, 35, 35, 0.15);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    width:100%;
 
}



#formContainer form {
    margin-bottom: 20px;
    width:200%;
}

.form-control {
    width:100%;
}

.footer {
    margin-top: 20px;
    background-color: #343a40;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}